.page-about {
	.content {
		color: #FFF;
		padding: 420px 0;
		.column {
			display: flex;
			margin: 100px 0;
			@include adaptive(x05) {
				flex-flow: row wrap;
			}
			div {
				flex: 1 1 490px;
				@include adaptive(xx) {
					margin: 140px 80px 140px 0;
				}
				@include adaptive(x2) {
					margin: 120px 100px 120px 0;
				}
				@include adaptive(x1) {
					margin: 100px 70px 100px 0;
				}
				@include adaptive(x05) {
					margin: 60px 40px 60px 0;
				}
				@include adaptive(x25) {
					margin: 40px 20px 40px 0;
				}
			}
		}

		.dark {
			color: $specialDark;
			span {
				color: #FFF;
			}
		}

		&.appear_before {
			opacity: 0;
			transition: .3s;

			h1 {
				transform: translate(50px, 0);
				transition: .3s;
			}
		}
		&.appear_after {
			opacity: 1;
			h1 {
				transform: translate(0);
			}

		}
	}
}
