.menu {
	position: fixed;
	display: flex;
	writing-mode: vertical-lr;
	color: #99D9D9;
	@include adaptive(x1) {
		top: $framePaddingX1;
		right: $framePaddingX1;
	}
	@include adaptive(x2) {
		top: $framePaddingX2;
		right: $framePaddingX2;
	}
	@include adaptive(xx) {
		top: $framePaddingXx;
		right: $framePaddingXx;
	}
	@include adaptive(x05) {
		top: $framePaddingX05;
		right: $framePaddingX05;
	}
	@include adaptive(x025) {
		top: $framePaddingX025;
		right: $framePaddingX025;
	}
	a {
		padding: 10px 0;
	}
}