.pageTitle {
	position: fixed;
	z-index: 10;
	color: #FFF;
	line-height: $logoH+px;
	@include adaptive(xx) {
		left: calc(50% - 690px);
		top: $framePaddingXx;
		padding-left: 50px;
		line-height: $logoH * 1.4+px;
	}
	@include adaptive(x2) {
		left: calc(50% - 690px);
		top: $framePaddingX2;
		padding-right: 80px;
		padding-left: 50px;
		line-height: $logoH+px;
	}
	@include adaptive(x15) {
		left: $logoW + $framePaddingXx;
		top: $framePaddingX2;
	}
	@include adaptive(x1) {
		left: $logoW + $framePaddingXx;
		top: $framePaddingX1;
		padding-left: 20px;
	}
	@include adaptive(x05) {
		left: $logoW + $framePaddingX1;
		top: $framePaddingX05;
		line-height: $logoH * .8+px;
	}
	@include adaptive(x025) {
		opacity: 0 !important;
	}

}


