.pageTitle {
	position: fixed;
	z-index: 10;
	color: #fff;
	line-height: $logoH+px;
	transition: $Transition;
	overflow: hidden;
	span {
		display: block;
		transition: $Transition;
	}
	&.appear_before {
		span {
			transform: translateY(-100%);
			opacity: 0;
		}
	}
	&.appear_after {
		span {
			transform: translateY(-0%);
			opacity: 1;
		}
	}
	&.leave_animation {
		span {
			transform: translateY(-100%) !important;
			opacity: 0 !important;
		}
	}

	@include adaptive(xx) {
		left: calc(50% - 660px);
		top: $framePaddingXx;
		padding-left: 20px;
		line-height: $logoH * 1.4+px;
	}
	@include adaptive(x2) {
		left: calc(50% - 660px);
		top: $framePaddingX2;
		padding-right: 80px;
		padding-left: 20px;
		line-height: $logoH+px;
	}
	@include adaptive(x15) {
		left: calc(50% - 660px);
		top: $framePaddingX2;
	}
	@include adaptive(x1) {
		left: $logoW + $framePaddingXx;
		top: $framePaddingX1;
	}
	@include adaptive(x05) {
		left: $logoW + $framePaddingX1;
		top: $framePaddingX05;
		line-height: $logoH * .8+px;
	}
	@include adaptive(x025) {
		left: $logoW + $framePaddingX025;
		top: $framePaddingX025;
		line-height: $logoH * .8+px;
	}
	@include adaptive(x01) {
		opacity: 0 !important;
	}

	font-size: 20px;
	@include adaptive(xx) {
		font-size: 30px;
	}
	@include adaptive(x2) {
		font-size: 30px;
	}
	@include adaptive(x1) {
		font-size: 20px;
	}
	@include adaptive(x05) {
		font-size: 17px;
	}
	@include adaptive(x025) {
		font-size: 15px;
	}
}
