.pageTitle {
	position: fixed;
	z-index: 10;
	color: #FFF;
	transition: .1s ease;
	@include adaptive(xx) {
		max-width: 1280px;
		width: 100%;
		left: calc(50% - 690px);
		top: $framePaddingXx;
		padding-left: 37px;

	}
	@include adaptive(x2) {
		max-width: 1280px;
		width: 100%;
		left: calc(50% - 690px);
		top: $framePaddingX2 + 5px;
		padding-left: 37px;

	}
	@include adaptive(x15) {
		left: $logoW + $framePaddingX15;
		top: $framePaddingX2 + 5px;
	}
	@include adaptive(x1) {
		left: $logoW*2 + $framePaddingX1;
		top: $framePaddingX1 + 5px;
	}
	@include adaptive(x05) {
		left: $logoW + $framePaddingX05;
		top: $framePaddingX05;
	}
	@include adaptive(x025) {
		left: $logoW + $framePaddingX025;
		top: $framePaddingX025;
		opacity: 0 !important;
	}
}


