.works {
	.list {
		height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		padding: 0;
		list-style: none;
		color: #FFF;
		li {
			margin: 20px 0;
			width: fit-content;
			&:hover {
				color: #999
			}
		}
	}
}

.work {
	.firstScreen {
		height: 100%;
		min-height: 90vh;
		color: #FFF;
		display: flex;
	}
	.otherScreen {
		background-color: #FFFFFF;
		min-height: 100vh;
		color: $specialBlack;
		height: 100%;
	}

	&.appear_before {
		transition: .5s;
		opacity: 0;
		margin-top: 30px;
	}
	&.appear_after {
		opacity: 1;
		margin-top: 0px;
	}
}
