.works {
	&.appear_before {
		opacity: 0;
	}
	&.appear_after {
		opacity: 1;
	}

	.list {
		height: 100%;
		padding: 40vh 0;
		list-style: none;
		color: #FFF;
		li {
			margin: 70px 0;
			width: fit-content;
			&:hover {
				color: #999;
				transition: .2s ease;
			}
		}
		h1, h2,h3,h4,h5,h6 {
			font-weight: 400;
		}
	}
}

.work {
	.firstScreen {
		height: 100%;
		min-height: 100vh;
		color: #FFF;
		display: flex;
		flex-direction: column;
	}
	.otherScreen {
		padding: $logoH*3+px 0;
		background-color: #FFFFFF;
		min-height: 100vh;
		color: $specialBlack;
		height: 100%;

		H4 {
			padding: $logoH*3+px 0;
		}
	}
}
