.project {
	.firstScreen {
		height: 100%;
		color: #FFF;
		display: flex;
	}
	.otherScreen {
		background-color: #FFFFFF;
		min-height: 100vh;
		color: $specialBlack;
		height: 100%;
	}

	&.appear_before {
		transition: .5s;
		opacity: 0;
		margin-top: 30px;
	}
	&.appear_after {
		opacity: 1;
		margin-top: 0px;
	}
}
