.project {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-size: 500%;
	color: #fff;

	.one,
	.two,
	.three{
		height: 100%;
		max-height: 95vh;
	}

	.one {
		background-color: #131517;
		color: black;
	}

	.two {
		background-color: #ffffff;
	}
	.three {
		background-color: antiquewhite;
	}
}
