.page-main {
	transition: .7s ease;
	.project {
		height: 100%;
		background: no-repeat 50%;
		background-size: contain;
		margin: auto;
		display: flex;
		flex-direction: column;
		color: #FFF;
		position: relative;
		overflow: hidden;
		transition: .4s cubic-bezier(0.1, 0.1, 0.3, 1.1);
		&.out {
			.headers h1, .headers h5{
				transform: translateY(-100px);
			}
			.images {
				transform: translateX(-100vw);

			}
			&.right {
				.headers h1, .headers h5{
					transform: translateY(-100px);
				}
				.images {
					transform: translateX(100vw);
				}
			}
		}
		&.before {
			.images {
				transform: translateX(100vw);
			}
			&.right {

				.images {
					transform: translateX(-110vw);
				}
			}
		}
		&.now, &.now.right {
			.headers h1, .headers h5{
				transform: translateY(0);
			}
			.images {
				transform: translateX(0);
			}

		}

		@include adaptive(xx) {
			padding: 0 $framePaddingXx;
		}
		@include adaptive(x2) {
			padding: 0 $framePaddingX2;
		}

		@include adaptive(x1) {
			padding: 0 $framePaddingX1;
		}
		@include adaptive(x05) {
			padding: 0 $framePaddingX05;
		}
		@include adaptive(x025) {
			padding: 0 $framePaddingX025;
		}

		.headers {
			position: fixed;
			height: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			z-index: 10;
			transition: $Transition;

			.hidden {
				overflow: hidden;
			}
			h1 {
				transition: $Transition;
			}
			h5 {
				font-weight: 500;
				transition: $Transition;
				transition-delay: .1s;
			}
		}
		a {
			position: relative;
		}
		a:before {
			content: "";
			position: absolute;
			width: 100%;
			max-width: 100%;
			z-index: -1;
			height: 38px;
			left: 0px;
			bottom: 20px;
			transform: scaleX(0);
			transform-origin: left center 0px;
			background: rgb(255, 255, 255);
			overflow: hidden;
			transition: transform 0.8s cubic-bezier(0.8, 0, 0.2, 1);
		}
		a:hover:before {
			transform: none;
			transform-origin: right center 0px;
		}

		.services {
			padding: 0;
			list-style: none;
			font-size: 15px;
			z-index: 10;
			@include adaptive(xx) {
				margin: auto 0 $framePaddingXx;
			}
			@include adaptive(x2) {
				margin: auto 0 $framePaddingX2;
			}
			@include adaptive(x1) {
				margin: auto 0 $framePaddingX1;
			}
			@include adaptive(x05) {
				margin: auto 0 $framePaddingX05;
			}
			@include adaptive(x025) {
				margin: auto 0 $framePaddingX025;
			}
		}

		.images {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: .4s cubic-bezier(0.1, 0.1, 0.3, 1.1);
			img {
				transition: .4s cubic-bezier(0.1, 0.1, 0.3, 1.1)
			}
			&#img0 {
				transition-delay: .2s;
				z-index: 1;
			}
			&#img1 {
				transition-delay: .3s;

				z-index: 2;
			}
			&#img2 {
				z-index: 3;
			}
		}

	}
}
