
.scrollBox {
	overflow: hidden;
	overflow-y: scroll;
	z-index: 10;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	touch-action: manipulation;
	backface-visibility: hidden;
	will-change: transform;
	transform: translate(0);
}

.main {
	height: 100%;
	max-height: 100vh;
	.contentTitle {
		display: flex;
		position: absolute;
		flex-flow: column;
		max-width: 1280px;
		color: #FFF;
		transition: opacity .1s ease;
		@include adaptive(xx) {
			padding: $framePaddingXx;
			line-height: $logoH * 1.4+px;
			left: $framePaddingXx;
		}
		@include adaptive(x2) {
			padding: $framePaddingX2 $framePaddingX1;
			line-height: $logoH * 1.2+px;
			left: $framePaddingXx;
		}
		@include adaptive(x1) {
			padding: $framePaddingX1;
			line-height: $logoH+px;
			left: $framePaddingX2;
		}
		@include adaptive(x05) {
			padding: $framePaddingX05;
			line-height: $logoH * .8+px;
			left: $framePaddingX1;
		}
		@include adaptive(x025) {
			padding: $framePaddingX025;
			line-height: $logoH * .6+px;
			left: $framePaddingX05;
		}
	}
	.contentContainer {
		height: 100%;
		display: flex;
		flex-flow: column;
		max-width: 1280px;
		margin: auto;
		@include adaptive(xx) {
			padding: 0 $framePaddingXx;
		}
		@include adaptive(x2) {
			padding: 0 $framePaddingX2;
		}
		@include adaptive(x1) {
			padding: 0 $framePaddingX1;
		}
		@include adaptive(x05) {
			padding: 0 $framePaddingX05;
		}
		@include adaptive(x025) {
			padding: 0 $framePaddingX025;
		}
	}
}

