
.scroll {
	overflow-y: scroll;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	@include adaptive(x05) {
		padding: 0 $framePaddingX05;
	}
	@include adaptive(x025) {
		padding: 0 $framePaddingX025;
	}
}

.main {
	height: 100%;
	.contentContainer {
		height: 100%;
		display: flex;
		flex-flow: column;
		max-width: 1280px;
		margin: auto;
		width: 100%;
	}
}

