.content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	font-size: 300%;
	color: #FFF;
	.mainFrame {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		overflow: hidden;
		overflow-y: scroll;
	}
}