.headerLogo {
	position: fixed;
	left: $framePadding;
	top: $framePadding;
	height: 100%;
	max-height: 54px;
	width: 48.5px;
	@include adaptive(x05) {
		left: $framePaddingX05;
		top: $framePaddingX05;
	}
	@include adaptive(x025) {
		left: $framePaddingX025;
		top: $framePaddingX025;
	}

	#svgLogo {
		position: absolute;
	}

	&.appear_before {
		transition: .3s;
		margin-left: -50px;
		opacity: 0;

		svg {
			#white path {
				transition: .3s;
				fill: #CCD;
			}
		}
	}
	&.appear_after {
		margin-left: 0;
		opacity: 1;

		svg {
			#white path {
				fill: #67d939;
			}
		}
	}
	&.leave_animation {
		margin-left: -50px !important;
		opacity: 0 !important;
	}
}