.logo {
	position: fixed;
	z-index: 10;
	@include adaptive(xx) {
		left: $framePaddingXx;
		top: $framePaddingXx;
	}
	@include adaptive(x2) {
		left: $framePaddingX2;
		top: $framePaddingX2;
	}
	@include adaptive(x1) {
		left: $framePaddingX1;
		top: $framePaddingX1;
	}
	@include adaptive(x05) {
		left: $framePaddingX05;
		top: $framePaddingX05;
	}
	@include adaptive(x025) {
		left: $framePaddingX025;
		top: $framePaddingX025;
	}

	overflow: hidden;

	&.appear_before {
		div {
			transform: translateX(-100%)
		}
	}
	&.appear_after {
		div {
			transition: transform $Transition;
			transform: translateX(0%)
		}
	}
	&.leave_animation {
		div {
			transform: translateX(-100%)
		}
	}

	.logos {
		transition: $Transition;
		@include adaptive(xx) {
			min-height: $logoH * 1.4+px;
			min-width: $logoW * 1.4+px;
		}
		@include adaptive(x2) {
			min-height: $logoH+px;
			min-width: $logoW+px;
		}
		@include adaptive(x05) {
			min-height: $logoH * .8+px;
			min-width: $logoW * .8+px;
		}
		.logo_svg {
			z-index: 4;
			position: absolute;
			height: 100%;
			width: 100%;
			svg {
				max-width: 100%;
				max-height: 100%;
			}
		}
		.to_white {
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 5;
			transition: $Transition;
			opacity: 0;
			img {
				filter: invert(100%);
				max-width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		.white {

			overflow: hidden;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 2;
			img {
				filter: invert(100%);
				max-width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		.black {

			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 1;
			img {
				filter: invert(0%);
				max-width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}
