.menu-container {
	position: fixed;
	z-index: 11;
	&.active {
		width: 100%;
		min-width: 100vw;
		min-height: 100vh;
		height: 100%;
	}
	.menu {
		position: fixed;
		display: flex;
		width: 40px;
		max-height: 40px;
		height: 100%;
		flex-direction: column;
		color: #fff;
		z-index: 1;

		@include adaptive(xx) {
			top: $framePaddingXx;
			right: $framePaddingXx;
		}
		@include adaptive(x2) {
			top: $framePaddingX2;
			right: $framePaddingX2;
		}
		@include adaptive(x1) {
			top: $framePaddingX1;
			right: $framePaddingX1;
		}
		@include adaptive(x05) {
			top: $framePaddingX05;
			right: $framePaddingX05;
		}
		@include adaptive(x025) {
			top: $framePaddingX025;
			right: $framePaddingX025;
		}

		#burger {
			position: relative;
			display: flex;
			justify-content: space-between;
			min-height: 35px;
			height: 24px;
			color: #fff;
			flex-flow: column wrap;
			align-self: flex-end;
			cursor: pointer;
			margin-left: auto;
			z-index: 10;
			overflow: hidden;

			@include adaptive(xx) {
				top: 15px;
				width: 47px;
				span {
					height: 3px;
				}
			}
			@include adaptive(x2) {
				top: 15px;
				width: 35px;
			}
			span {
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: currentColor;
				transition: $Transition;
				&:nth-of-type(1) {
					transform-origin: right top;
				}
				&:nth-of-type(2) {
					transform-origin: right bottom;
					margin-top: 16px;
				}
			}
			&.opened {
				span {
					margin-left: -3px;
					background-color: #d5dade !important;
					&:nth-of-type(1) {
						transform: rotate(-45deg);
					}
					&:nth-of-type(2) {
						transform: rotate(45deg);
						margin-top: 24px;
					}
				}
			}

			//ANIMATION

			&.appear_before {
				span {
					transform: translateX(50px);
				}
			}
			&.appear_after {
				span {
					transform: translateX(0);
				}
			}
			&.leave_animation {
				span {
					transform: translateX(50px) !important;
				}
			}
		}

		a {
			padding: 10px 0;
		}

		nav {
			position: fixed;
			top: 0;
			right: 0;
			width: 50vw;
			height: 100vh;
			transform: translateX(100%);
			transition: transform $Transition;
			background-color: #fff;
			transition-delay: .1s;
			@include adaptive(x025) {
				width: 100vw;
				transition: $Transition;
			}

			&.visible {
				transform: translateX(0%);
				.nav__menu {
					li div {
						transition: $Transition;
						transform: translateY(0%);
						transition-delay: 0.3s;
					}
				}
				.hello {
					div {
						a {
							display: block;
							transition: $Transition;
							transform: translateY(0%);
							transition-delay: 0.3s;
						}
					}
				}
			}
			.hello {
				position: absolute;
				bottom: 45px;
				color: #131517;
				font-weight: bold;
				font-size: 20px;
				@include adaptive(xx) {
					bottom: $framePaddingXx;
					left: $framePaddingXx;
				}
				@include adaptive(x2) {
					bottom: $framePaddingX2;
					left: $framePaddingX2;
				}
				@include adaptive(x1) {
					bottom: $framePaddingX1;
					left: $framePaddingX1;
				}
				@include adaptive(x05) {
					left: $framePaddingX05;
				}
				@include adaptive(x025) {
					bottom: $framePaddingX05;
					left: $framePaddingX025;
				}

				div {
					overflow: hidden;
					a {
						display: block;
						transition: $Transition;
						transform: translateY(-70%);
					}
				}
			}
			.nav__menu {
				position: fixed;
				top: 0;
				right: 0;
				display: flex;
				justify-content: center;
				width: 100%;
				height: 100%;
				line-height: 120px;
				padding: 0;
				margin: 0;
				flex-direction: column;
				list-style: none;
				font-size: 4.188em;
				font-weight: bold;
				li {
					overflow: hidden;
					@include adaptive(xx) {
						margin-left: $framePaddingXx;
					}
					@include adaptive(x2) {
						margin-left: $framePaddingX2;
					}
					@include adaptive(x1) {
						margin-left: $framePaddingX1;
					}
					@include adaptive(x05) {
						margin-left: $framePaddingX05;
					}
					@include adaptive(x025) {
						margin-left: $framePaddingX025;
					}

					div {
						display: flex;
						width: fit-content;
						line-height: 113%;
						transition-delay: 0s;
						transform: translateY(-100%);
						transition: $Transition;
						a {
							line-height: 100%;
							margin: auto;
							transition: $Transition;
							color: #dee2e6;
							&:hover {
								color: #131517;
							}
						}
					}
				}
			}
		}
	}
}
