.footer {
	position: fixed;
	bottom: $framePadding;
	right: $framePadding;

	@include adaptive(x05) {
		bottom: $framePaddingX05;
		right: $framePaddingX05;
	}
	@include adaptive(x025) {
		bottom: $framePaddingX025;
		right: $framePaddingX025;
	}
}