.footer {
	position: fixed;
	display: flex;
	transition: .2s ease;
	z-index: 10;
	font-size: 15px;
	@include adaptive(xx) {
		bottom: $framePaddingXx;
		right: $framePaddingXx;
	}
	@include adaptive(x2) {
		bottom: $framePaddingX2;
		right: $framePaddingX2;
	}
	@include adaptive(x1) {
		bottom: $framePaddingX1;
		right: $framePaddingX1;
	}
	@include adaptive(x05) {
		bottom: $framePaddingX05;
		right: $framePaddingX05;
	}
	@include adaptive(x025) {
		bottom: $framePaddingX025;
		right: $framePaddingX025;
	}
	a {
		transition: .1s ease;
	}
	&.appear_before {
		transform: translateX(50px);
		opacity: 0;

	}
	&.appear_after {
		transform: translateX(0);
		opacity: 1;

	}
	&.leave_animation {
		transform: translateX(50px) !important;
		opacity: 0 !important;
	}
}