.page-contacts {
	color: darkgoldenrod;

	&.appear_before {
		opacity: 0;
		transition: .3s;

		h1 {
			transform: translate(50px, 0);
			transition: .3s;
		}
		h2 {
			transform: translate(0, 50px);
			transition: .3s;
		}
		h3 {
			transform: translate(50px 50px);
			transition: .3s;
		}
	}
	&.appear_after {
		opacity: 1;

		h1 {
			transform: translate(0);
		}
		h2 {
			transform: translate(0);
		}
		h3 {
			transform: translate(0);
		}
	}
}
