.page-contacts {
	.dark {
		color: $specialDark;
		margin: 0 0 100px 0;
		span {
			color: #fff;
		}
	}
	form {
		min-width: 50vw;
		label {
			z-index: 8;
			position: relative;
			display: block;
			color: $specialDark;
			transition: .3s ease;
			opacity: 1;
			h4 {
				transform: translateY(35px);
				font-size: 35px;
				line-height: 35px;
			}
			input,
			textarea {
				width: 100%;
				font-family: inherit;
				z-index: 9;
				position: relative;
				font-size: 35px;
				line-height: 35px;
				background-color: transparent;
				color: #fff;
				outline: none;
				border: 0;
				padding: 0;
				overflow: hidden;
				resize: none;
			}
		}
		.send {
			display: flex;
			align-items: center;
			cursor: pointer;
			width: fit-content;
			img {
				height: 30px;
				margin-right: 20px;
			}
			transition: .6s ease;
			&:hover {
				opacity: .7;
			}
		}
	}

	h1 {
		overflow: hidden;
		span {
			display: block;
		}
	}
	&.appear_before {
		opacity: 0;
		h1 {
			span {
				transform: translateY(-100%);
			}
		}
	}
	&.appear_after {
		transition: $Transition;
		opacity: 1;
		h1 {
			span {
				transition: $Transition;
				transform: translateY(0);
			}
		}
	}
	&.leave_animation {
		transition: $Transition;
		opacity: 0;
		h1 {
			span {
				transition: $Transition;
				transform: translateY(-100%);
			}
		}
	}
}
