.page-contacts {
	.content {
		color: #FFF;
		height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		padding: 420px 0;
		.dark {
			color: $specialDark;
			margin: 100px 0;
			span {
				color: #FFF
			}
		}
		form {
			max-width: 300px;
			input {
				font-size: 140%;
				background-color: transparent;
				color: #FFF;
				border: 0;
				outline: none;
			}
		}

	}
	&.appear_before {
		opacity: 0;
		transition: .3s;

		h1 {
			transform: translate(50px, 0);
			transition: .3s;
		}
		h2 {
			transform: translate(0, 50px);
			transition: .3s;
		}
		h3 {
			transform: translate(50px 50px);
			transition: .3s;
		}
	}
	&.appear_after {
		opacity: 1;

		h1 {
			transform: translate(0);
		}
		h2 {
			transform: translate(0);
		}
		h3 {
			transform: translate(0);
		}
	}
}
