@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

#app {
	position: absolute;
	left: 0;
	right: 0;
	overflow: hidden;
	top: 0;
	bottom: 0;
	background-color: $specialBlack;
	font-family: 'Montserrat', sans-serif;
}

