body, html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	line-height: inherit;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	font-family: sans-serif;
}




$specialBlack: #131517;
$framePadding: 80px;
$framePaddingX05: 40px;
$framePaddingX025: 20px;

$x025: 960px;
$x05: 1280px;
$x1: 2560px;

@mixin adaptive($media) {
	@if $media == x025 {
		@media only screen and (max-width: $x025) {
			@content;
		}
	} @else if $media == x05 {
		@media only screen and (max-width: $x05) {
			@content;
		}
	} @else if $media == x1 {
		@media only screen and (max-width: $x1) {
			@content;
		}
	} @else if $media == x2 {
		@media only screen and (min-width: $x1) {
			@content;
		}
	}
}

