body, html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	line-height: inherit;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	font-family: sans-serif;
}

$Transition: .6s cubic-bezier(0.8, 0, 0.2, 1);

$logoW: 54;
$logoH: 48.5;

$specialBlack: #131517;
$specialDark: #303336;

$framePaddingX025: 20px;
$framePaddingX05: 40px;
$framePaddingX1: 80px;
$framePaddingX15: 100px;
$framePaddingX2: 120px;
$framePaddingXx: 160px;

$x025: 640px;
$x05: 1024px;
$x1: 1280px;
$x15: 1680px;
$x2: 2560px;

@mixin adaptive($media) {
	@if $media == x025 {
		@media only screen and (min-width: 0) and (max-width: $x025) {
			@content;
		}
	} @else if $media == x05 {
		@media only screen and (min-width: 0) and (max-width: $x05) {
			@content;
		}
	} @else if $media == x1 {
		@media only screen and (min-width: 0) and (max-width: $x1) {
			@content;
		}
	} @else if $media == x15 {
		@media only screen and (min-width: 0) and (max-width: $x15) {
			@content;
		}
	} @else if $media == x2 {
		@media only screen and (min-width: 0) and (max-width: $x2) {
			@content;
		}
	} @else if $media == xx {
		@media only screen and (min-width: $x2) {
			@content;
		}
	}
}

